<!-- only for debug with phonegap/cordova -->
  <!--<script src="http://192.168.178.128:8080/target/target-script-min.js#anonymous"></script>-->
  <!-- ONLY IF PACKED WITH PHONEGAP / CORDOVA: -->

  
  <script src="cordova.js"></script>
  
  <!-- for 3rd party barcode lookup via phonegap -->
  
  <!--<script src="assets/barcodeCheck.js"></script>-->
    