<!-- map header to be imported into header of UI -->
<!-- includes google maps API key -->
<script type="text/javascript" src='https://maps.google.com/maps/api/js?key={{{googleAPIkey}}}&libraries=places'></script>
<!-- includes jquery plugin to use key -->
<script src="assets/locationpicker.jquery.js"></script>
<!--
the logic can be found inside of mapscript.mst a js inside of the footer
 that should be included as well if this here is in the header.
 -->
