
<div data-role="collapsible" data-mini="true" data-collapsed-icon="location">
  <h3 id="location_collapsible" style="color:rgba(150,150,150)">location: <span class="locationdescription"></span></h3>
  <div class="locationContainer">
    description:
    <input type="text" class="form-control map_value" id="description"/>

    address: <input type="text" class="form-control map_value" id="address"/>
    <br>
    <button id="getLocation" data-role="button" data-icon="location" data-iconpos="top"
    data-inline="true" class="btn_getlocation">set</button>
    <div id="map"></div>

    <div class="geodataContainer">
      <table class="geotable">
        <tr><td>
          latitude:
        </td></tr>
        <tr><td>
          <input type="text" class="form-control map_value" id="latitude"/>
        </td></tr>
      </table>
      <table class="geotable">
        <tr><td>
          longitude:
          </td></tr>
          <tr><td>
            <input type="text" class="form-control map_value" id="longitude"/>
          </td></tr>
      </table>
    </div>

    insideOf: <a id="insideOf_name" class="mediumfont"></a>
    <input type="text" class="form-control map_value" id="insideOf"/>
    
  </div>
</div>
