<div data-role="page" id="after_handover">

  <style>

    iframe {
      left: -10px;
      height: 100vh;
      width: 95vw;
    }

  </style>

  <!-- HEADER TEMPLATE -->
  {{>header}}
  <!-- END HEADER -->

  <!-- CONTENT -->
  <div role="main" class="ui-content">


  <div class="btn_request ui-btn"
    style="height:10vh;width:100%;left:-1em;bottom:-1em;background-color:#ff004c!important;
    color:#fff2cd;z-index:3;position:fixed">
    OK</div>


  </div>

  <!-- END CONTENT -->

</div>


<script>

$( document ).on( "pageshow", "#after_handover", function(e,ui) {
    console.log(window.location.search);
    console.log("just loaded after_handover");
    console.log(ui.prevPage);

    for(value of collection.bulk)
    {
      value.inPossessionOf = newPossessor;
    }

})

</script>
