<style>

  #config {
    background-color: #fff2cd;
  }

  #logout{
    background-color: #ff004c !important;
    color: #fff2cd !important;
    text-shadow: none;
  }

  #btn_upd_contact_info {
    background-color: #abcecc;
    text-shadow: none;
  }

</style>

<div data-role="page" id="config">

  <!-- HEADER TEMPLATE -->
  {{>header}}
  <!-- END HEADER -->

  <!-- CONTENT -->
  <div role="main" class="ui-content">

      <button id="logout" style="margin-top:0">logout</button>
      <h1 align="center">config</h1>
      <br>

      <h3 align="center">your contact information:</h3>
      <input id="contact_email" type="email" placeholder="your email" value="" />
      <input id="contact_telnumber" type="number" placeholder="your phone number" value="" />
      <input id="contact_other" type="text" placeholder="other way to contact you" value="" />
      <br>
      <button id="btn_upd_contact_info">save</button>
      <br>
      <br>
      <br>
      <br>
      <p id="token">pushtoken</p>
      <p id="lastpush">pushtoken</p>

  </div>
  <!-- END CONTENT -->

</div>

<script>
 
  let config = {
    _id: "&config",
    contact_details: {}
  }

  $( document ).on("pageshow", "#config", function(e,ui) {
    fetchConfig();

/*
    if (isPhonegap){ // registerPushId with server if possible
            let registrationId = localStorage.getItem("registrationId");
            if (registrationId && savePushRegistrationId)
            {
              //alert("trying to register push id with DB");
              savePushRegistrationId(registrationId)
            }
          }
*/
  })

  function fetchConfig(){
    getSingleItem("&config",function(res){
      if (res._id){
        console.log(res);
        config = res;
        // CONTINUE HERE :
        // fillconfigForm: // TODO: decrypt sensitive data with password
        /*
        $("#contact_email").val(config.contact_details.email);
        $("#contact_telnumber").val(config.contact_details.telnumber);
        $("#contact_other").val(config.contact_details.other);
        */
        let contact_details = localStorage.getItem(glb_username+".contact_details");
        if (contact_details){ 
          contact_details = JSON.parse(contact_details);
          contact_details.email ? $("#contact_email").val(contact_details.email) : null;
          contact_details.telnumber ? $("#contact_telnumber").val(contact_details.telnumber) : null;
          contact_details.other ? $("#contact_other").val(contact_details.other) : null;
          //$("#contact_telnumber").val(contact_details.telnumber);
          //$("#contact_other").val(contact_details.other);
        }
      }
    })
  }

  function logout(){
    // delete AuthSession Cookie (will only work if cookie from same URL)
    $.ajax({
        type: "DELETE",
        url: API_BASE_URL,
        xhrFields: { withCredentials: true }, // to make AuthCookie ok
        success: function(res)
          {
            console.log(res);
            showToast(res,500);
            // reload page();
            if (isPhonegap)
            {
              window.location.reload(true);
            }
            else
            {
              window.location.href = UI_URL;
            }
          },
        error: function(err){
          console.log(err);
        },
        contentType:"application/json"
      });
  }

  $("#logout").click(function(){
    logout();
  })

// TODO: split config that is supposed to be saved on the dingsda server from localstorage userdata.
// atm only locastorage data anyhow
  $("#btn_upd_contact_info").click(function(){

    config.contact_details.email = $("#contact_email").val();
    config.contact_details.telnumber = $("#contact_telnumber").val();
    config.contact_details.other = $("#contact_other").val();

    localStorage.setItem(glb_username+'.contact_details',JSON.stringify(config.contact_details));
    swal({text:"SAVED SUCCESSFULLY", toast:true, timer:1200,
          showConfirmButton:false, position:"center",customClass:"whiteletters"
        }).then(function(){});

/* // commented out until we add real config data that has to be saved on the server.
    updateit(config,function(res){
      console.log(res);
      if(res.ok == true)
      {
        swal({text:"SAVED SUCCESSFULLY", toast:true, timer:1200,
          showConfirmButton:false, position:"center",customClass:"whiteletters"
        }).then(function(){});
      }
      else {
        swal({title:"UPDATE ERROR",text:res.statusText, toast:true,customClass:"whiteletters"});
        console.log(res);
      }
    })

*/
  })

</script>
