
<div data-role="header" data-position="fixed" class="header">
  <div data-role="navbar" class="ui-state-persist">
    <ul>
    <li><a href="#config"><img id="config_icon" src="icons/gear.png" width=30px
      alt="config icon"></img>
    <span class="badge"></span></a></li>
    <li><a onclick=showNotifications()><img class="notifications_icon"
      src="icons/bell.png" width=30px alt="notifications icon">
      <span class="notifications_badge badge">0</span></a></li>
    <li><a href="#landing"><img id="location_icon" src="icons/dingsda.png"
      width=30px alt="start side icon">
    <span class="badge"></span></a></li>
    <li><a href="#collection" class="btn_collection" onclick="btn_collection_clicked();">
      <img class="collection_icon" src="icons/box2.png" width=30px alt="my collection icon">

      <span class="badge borrowedthings">0</span>
      <span class="badge collection_badge">0</span>
    </a></li>

    </ul>
  </div>
</div>
