<head>
  <meta charset="utf-8">
  <title>dingsda user interface 2</title>
 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest.json">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/jquery.mobile-1.4.5.min.css">

  <!--<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/jquery.mobile-1.4.5.min.js"></script>
  <script src="assets/sweetalert2.js"></script>
  <script src="assets/bootstrap-tagsinput.js"></script>
  <script src="assets/jquery.easy-autocomplete.min.js"></script>

  <link rel="stylesheet" href="assets/easy-autocomplete.min.css">

  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="assets/bootstrap-tagsinput.css" />
  <!-- MAPSCRIPT HEADER PARTS  -->

  <script type="text/javascript" src='https://maps.google.com/maps/api/js?key={{googlemapsAPIkey}}&libraries=places'></script>
  <!-- includes jquery plugin to use key -->
  <script src="assets/locationpicker.jquery.js"></script>

  <!--  END MAPSCRIPT HEADER PARTS  -->

  <!-- CARNET ATA EXPORT PARTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.0/jspdf.debug.js"></script>
  <script src="assets/carnet.js"></script>
  <!-- END CARNET ATA EXPORT PARTS-->

</head>
