<div data-role="page" id="maps">
    <div id="locationMoveable" class="collapsible_right" data-role="collapsible"
      data-mini="true" data-iconpos="right" data-collapsed-icon="location">
      <h3 id="location_collapsible">
        location: <span class="locationdescription"></span></h3>

      <div id="containerOf" data-role="collapsible" data-mini="true" data-collapsed-icon="bullets" data-expanded-icon="arrow-u" data-collapsed="true">
      <h6>contains:</h6>
      <span class="mediumfont" id="other.containerOf"></span>
      </div>

      <div class="locationContainer">
        <input type="text" class="form-control map_value" id="description"
              placeholder="description/name of place"/>

        <input type="text" class="form-control map_value" id="address"
            placeholder="address"/>

        <button id="getLocation" data-role="button" data-icon="location"
          data-iconpos="right" data-inline="true" class="btn_getlocation">set</button>
        <div id="map"></div>

        <div class="geodataContainer" id="geodataContainer">

          <table class="geotable">
            <tr><td>
              latitude:
            </td></tr>
            <tr><td>
              <input type="text" class="form-control map_value" id="latitude"/>
            </td></tr>
          </table>
          <table class="geotable">
            <tr><td>
              longitude:
              </td></tr>
              <tr><td>
                <input type="text" class="form-control map_value" id="longitude"/>
              </td></tr>
          </table>
        </div>

    </div>

      <div id="insideOfContainer" hidden>
        insideOf: <a id="insideOf_name" class="mediumfont"></a>
        <input type="text" class="form-control map_value"
        placeholder="id of container" id="insideOf"/>
      </div>


      <input type="checkbox" data-role="flipswitch" name="flip-location"
       id="fliplocation" data-off-text="not inside other thing"
       data-on-text="inside other thing"
       data-wrapper-class="custom-size-flipswitch"></input>

    </div>
</div>
